/* Imported Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@300&display=swap');

/* Remove default styling */

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* General body styling */

body {
    font-family: 'Lora', serif;
    font-weight: 300;
    color: black;
}

/* Header styling */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFAFA;
}

/* Logo Styling */

#logo {
    height: 200px;
    margin-left: 10%;
    width: 100%;
}

/* Navigation styling */

#menu {
    display: flex;
    justify-content: space-around;
    font-size: 150%;
    letter-spacing: 0.1em;
    
}

#menu li {
    padding-right: 20px;
    margin-left: 15px;
    list-style-type: none;
    text-transform: uppercase;
}

#menu .border-right {
    border-right: 2px solid #1B612B;
}

#menu a {
    text-decoration: none;
    color: #E11C21;
}

#menu a:hover {
    border-bottom: 1px solid #E11C21;
}

.active {
    border-bottom: 1px solid #E11C21;
}

/* Index page main image styling */

#index-main-image {
    width: 120%;
    height: 600px;
    background: url('../images/christmas-market-sparkle-deco\ .jpg') no-repeat center center;
    
}

#main-image-outer {
    overflow: hidden;
    position: relative;
}

/* Image slogan styling */

#image-slogan {
    text-transform: uppercase;
    font-size: 120%;
    font-family: 'Montserrat', sans-serif;
    width: 250px;
    height: 130px;
    padding-top: 20px;
    padding-left: 10px;
    color: #FFFAFA;
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 30px;
    left: 30px;
    position: absolute;
    border: 1px solid #FFFAFA;
}

/* Information plus pathway div styling */

#info-plus-pathway-section {
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFAFA;
}

/* Info div styling */

#info-div {
    width: 25%;
    height: 75%;
    background-color: #FFFAFA;
}

.info-div-headings {
    color: #E11C21;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-bottom: 1.5rem;
}

h3 i {
    padding-right: 10px;
    color: #1B612B;
}

#info-div h3 {
    font-family: 'Montserrat', sans-serif;
    color: #1B612B;
}

#dates {
    letter-spacing: 4px;
}

#open-times {
    text-align: center;
    font-size: 95%;
    padding-bottom: 1.5rem;
}

.info-p {
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-align: justify;
    padding-bottom: 15px;
}

#come-and-see-p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

/* Festivities and Competition divs */

#festivities-div {
    background: url('../images/castleisland-christmas-lights-and-tree-image.jpg') no-repeat center center;
    background-size: cover;
}

#competition-div {
    background: url('../images/northern-lights-image.jpg') no-repeat center center;
    background-size: cover;
}

#festivities-div , #competition-div {
    width: 25%;
    height: 75%;
    border: 3px solid #E11C21;
    border-radius: 6%;
    position: relative;
    overflow: hidden;
}

.writing-for-div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 6%;
    
}

#colour-contrast-div {
    background-color: rgba(0, 0, 0, 0.75);
}

.pathway-header {
    color: #FFFAFA;
    padding-top: 35px;
    text-transform: uppercase;
    text-decoration: underline overline;
    text-align: center;
    font-weight: 200;
}

.pathway-paragraph {
    color: #FFFAFA;
    padding-top: 25px;
    margin-left: 35px;
    margin-right: 35px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.button {
    margin-right: 0;
    height: 40px;
    width: 15rem;
    letter-spacing: 3px;
    text-align: center;
    background-color: #a24936;
    position: absolute;
    bottom: 45px;
    right: 0;
    border-top: 1px solid #FFFAFA;
    border-bottom: 1px solid #FFFAFA;
    border-left: 1px solid #FFFAFA;
}

.button a {
    font-family: 'Montserrat', sans-serif;
    color: #FFFAFA;
    text-decoration: none;
}

/* Map section styling */

#find-us {
    margin-left: 30px;
    color: #1B612B;
    background-color: #FFFAFA;
    padding-bottom: 3px;
    letter-spacing: 3px;
    border: 1px solid #1B612B;
    width: 225px;
    text-align: center;
}

#map-section {
    background-color: #FFFAFA;
}

#pin {
    margin-left: 10px;
}

/* General Footer styling */

footer {
    width: 100%;
    height: 100px;
    background-color: #1B612B;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    color: #FFFAFA;
}

/* Copyright div */

#copyright-container {
    width: 25%;
    padding-left: 30px;
}

/* Contact Info div */

#contact-info-container {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#contact-info-header {
    text-align: center;
    text-decoration: underline overline;
    color: #FFFAFA; 
}

#contact-info-details {
   display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.contact-info {
    font-family: 'Montserrat', sans-serif;
}

#address-details {
    text-align: right;
}

/* Social Media div */

#social-div-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 25%;
    padding-right: 30px;
}

#social-media {
    list-style: none;
}

#social-media > li {
    display: inline-block;
    color: #FFFAFA;
    padding-left: 20px;
    font-size: 150%;
}

#social-media a:visited {
    text-decoration: none;
    color: #FFFAFA;
}

#social-media a:hover {
    text-decoration: none;
    color: #FFFAFA;
    font-size: 155%;
}

#follow-us {
    font-family: 'Montserrat', sans-serif;
}

/* Media Queries */

/* For larger screens from 1660px wide and down */
@media screen and (max-width: 1660px) {
    #info-plus-pathway-section {
        height: 700px;
    }
    footer {
        height: 150px;
    }
}

/* For large screens from 1420px wide and down */
@media screen and (max-width: 1420px) {
    #info-plus-pathway-section {
        height: 850px;
    }
    #info-div > h1 {
        text-align: center;
    }
    #dates {
        width: 70%;
        display: flex;
        align-items: center;
        margin-left: 15%;
    }
}

/* For large to medium screens from 1150px wide and down */
@media screen and (max-width: 1150px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header a {
        height: 200px;
        margin: 0 auto;
    }
    #logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    nav {
        width: 100%;
        background-color: #1B612B;
        height: 45px;
    }
    #menu {
        display: flex;
        justify-content: center;
        height: 45px;
        align-items: center;
    }
    #menu li {
        text-align: center;
        width: 30%;
        margin: 0 auto;
        padding: 0;
    }
    #menu a {
        color: #FFFAFA;
        text-align: center;
        width: 100%;
    }
    #menu a:hover {
        border-bottom: 3px solid #E11C21;
    }
    
    .active {
        border-bottom: 3px solid #E11C21;
    }
    #info-plus-pathway-section {
    display: flex;
    flex-direction: column;
    height: 1400px;
    }
    #info-div, #festivities-div, #competition-div {
    width: 75%;
    margin-top: 30px;
    }
    #info-div {
    height: 400px;
    }
    #festivities-div, #competition-div {
        height: 400px;
    }
    #find-us {
        margin: 0 auto;
    }
    #social-media {
        display: flex;
        flex-direction: column;
    }
    #contact-info-details {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #address-details {
        text-align: left;
    }
}

/* For medium screens from 900px wide and down */
@media screen and (max-width: 900px) {
    .footer-text {
        font-size: 85%;
    }
    #info-plus-pathway-section {
        height: 1500px;
    }
    #festivities-div, #competition-div {
        height: 450px;
    }
}

/* For medium screens from 700px wide and down */
@media screen and (max-width: 700px) {
    #menu a {
        font-size: 80%;
    }
    #index-main-image {
        width: 100%;
        height: 400px;
    }
    #image-slogan {
        font-size: 90%;
        width: 190px;
        height: 80px;
        padding: 5px;
        border: 2px solid #FFFAFA;
    }
    #dates {
        font-size: 100%;
        letter-spacing: 3px;
    }
}