@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Lora', serif;
    font-weight: 300;
    color: black;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu {
    display: flex;
    justify-content: space-around;
}

ul li {
    padding-right: 30px;
}

/* Logo Styling */

#logo {
    height: 200px;
}