/* Imported Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@300&display=swap');

/* Remove default styling */

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* General body styling */

body {
    font-family: 'Lora', serif;
    font-weight: 300;
    color: black;
}

/* Header styling */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFAFA;
}

/* Logo Styling */

#logo {
    height: 200px;
    margin-left: 10%;
    width: 100%;
}

/* Navigation styling */

#menu {
    display: flex;
    justify-content: space-around;
    font-size: 150%;
    letter-spacing: 0.1em;
    
}

#menu li {
    padding-right: 20px;
    margin-left: 15px;
    list-style-type: none;
    text-transform: uppercase;
}

#menu .border-right {
    border-right: 2px solid #1B612B;
}

#menu a {
    text-decoration: none;
    color: #E11C21;
}

#menu a:hover {
    border-bottom: 1px solid #E11C21;
}

.active {
    border-bottom: 1px solid #E11C21;
}

/* Index page main image styling */

#index-main-image {
    width: 120%;
    height: 600px;
    background: url('../images/christmas-market-sparkle-deco.jpg') no-repeat center center;
    
}

#main-image-outer {
    overflow: hidden;
    position: relative;
}

/* Image slogan styling */

#image-slogan {
    text-transform: uppercase;
    font-size: 120%;
    font-family: 'Montserrat', sans-serif;
    width: 250px;
    height: 130px;
    padding-top: 20px;
    padding-left: 10px;
    color: #FFFAFA;
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 30px;
    left: 30px;
    position: absolute;
    border: 1px solid #FFFAFA;
}

/* Information plus pathway section styling */

#info-plus-pathway-section {
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFAFA;
}

#info-div {
    width: 25%;
    height: 75%;
    background-color: #FFFAFA;
}

#festivities-div {
    width: 25%;
    height: 75%;
    background-color: rgba(27, 97, 43, 0.8)
}

#competition-div {
    width: 25%;
    height: 75%;
    background-color: rgba(162, 73, 54, 0.8)
}

.info-div-headings {
    color: #E11C21;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-bottom: 1.5rem;
}

h3 i {
    padding-right: 20px;
    color: #1B612B;
}

#info-div h3 {
    font-family: 'Montserrat', sans-serif;
    color: #1B612B;
}

#info-div p {
    font-family: 'Montserrat', sans-serif;
    color: black;
}